.list {
  position: relative;

  flex-grow: 1;
}

.scroll {
  position: absolute;
  top: 0;
  bottom: 0;

  overflow-y: auto;

  width: 100%;
}

.list__item {
  display: flex;

  margin-bottom: var(--space-size-xs);

  color: var(--color-typo-ghost);
}

.list__time {
  width: 30%;
  padding-left: var(--typo-size-m);

  text-align: left;
}

.list__title {
  width: 70%;

  text-align: left;
}

.scroll::-webkit-scrollbar {
  width: 7px;

  -webkit-appearance: none;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
