/* body */

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

/* calendar */

.calendar {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.calendar__body {
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.1);
}

.calendar__details {
  display: flex;
  flex-direction: column;

  padding: 20px;

  border-radius: 10px;
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.1);
}
