.calendar__cell {
  position: relative;

  display: flex;
  /* align-items: center; */
  flex: 1 1 calc(100% / 7);
  justify-content: center;
}

.calendar__cell_active span:after {
  position: absolute;
  z-index: -10;
  top: 55%;
  left: 50%;

  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  padding: 5px;

  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' version='1.1' fill='%2396d6f4' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5'/%3E%3C/svg%3E");
  /* top: -10px; */
  transform: translate(-50%, -50%);
}

.calendar__cell_active span {
  color: var(--color-typo-inverse);
}

.calendar__cell_color_ghost span {
  color: var(--color-typo-ghost);
}
.calendar__cell_color_accent span {
  color: var(--color-typo-accent);
}

/* NOTE: padding-bottom надо рулить от media-queries, так себе решение */
.calendar__cell:after {
  display: table;

  padding-bottom: 65%;

  content: '';
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: var(--space-size-xs);

  border: 0;
  background: none;

  font-size: var(--typo-size-m);
}

/* NOTE: задел на будущую подсветку ячейки календаря */

/* button:hover > span {
  color: var(--color-typo-inverse);
} */

/* button:hover::after {
  position: absolute;
  z-index: -10;
  top: -11px;

  box-sizing: border-box;
  width: 100%;
  padding: 5px;

  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' version='1.1' fill='%23d7eef8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5'/%3E%3C/svg%3E");

 
} */
