body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

/* theme */

:root {
  --theme-color-default: 0;
  --theme-color-accent: 11;
  --theme-color-mark: 208;
}

.theme {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.theme_color_default {
  --color-bg-mark: HSL(var(--theme-color-mark), 50%, 50%);
  --color-typo-default: HSL(var(--theme-color-default), 0%, 0%);
  --color-typo-inverse: HSL(var(--theme-color-default), 100%, 100%);
  --color-typo-ghost: HSL(var(--theme-color-default), 0%, 50%);
  --color-typo-semighost: HSL();
  --color-typo-accent: HSL(var(--theme-color-default), 100%, 40%);
}

.theme_size_default {
  --typo-line-height-m: normal;
  --typo-size-s: 12px;
  --typo-size-m: 16px;
}

.theme_space_default {
  --space-size-xs: 8px;
  --space-size-s: 12px;
  --space-size-m: 20px;
}

/* layout */

.container {
  width: 750px;
}

/* app */

#app {
  margin-top: 60px;

  text-align: center;

  color: #2c3e50;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
